a.taglib-icon {
	&,
	&:focus,
	&:hover {
		text-decoration: none;
	}

	&:focus,
	&:hover {
		.taglib-text {
			text-decoration: underline;
		}
	}

	&.btn {
		&:focus,
		&:hover {
			.taglib-text {
				text-decoration: none;
			}
		}
	}
}

.taglib-icon[lang] > img {
	vertical-align: baseline;
	width: 16px;
}

.taglib-icon-label {
	margin-left: 12px;
}
<<<<<<< HEAD

.icon-monospaced {
	&,
	&[class^='icon-'],
	&[class*=' icon-'] {
		color: inherit;
		display: inline-block;
		height: $icon-monospaced-size;
		line-height: 34px;
		text-align: center;
		width: $icon-monospaced-size;
	}

	&.lexicon-icon {
		padding: 8px;
	}

	.btn-monospaced > &:not(.lexicon-icon) {
		padding: 0;
	}
}
=======
>>>>>>> 3e5a7f2ba2444ba916b81b8bf4103e85fab48381
